body {
    background: #17594A;
    margin-top: 100px;
    font-family: "helvetica";
}
.SunCard {
    background: #e9f1f7;
    color: #131b23;
    margin: 0 auto;
    width: 175px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.PlanetCard {
    background: #e9f1f7;
    color: #131b23;
    margin: 0 auto;
    width: 175px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);






