body {
    background: #17594A;
    margin-top: 300px;
    font-family: "helvetica";
}

.title{
  color: #D3D04F;
  font-family: space grotesk;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 68px;
  margin-bottom: 68px;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  width: 700px;
}

.sun-card {
  padding: 20px;
  width: 350px;
  height: 528px;
  margin-left: 250px;
  margin-right: 18px;
  background: #D3D04F;
  color: #131b23;
  width: 350px;
  height: 528px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-rows: repeat(4, 2fr); 
  grid-template-columns: repeat(4, 2fr);
  width: 950px;
}

.card-container > * {
  padding: 10px;
  text-align: center;
}

.card {
  width: 175px;
  height: 250px;
  background: #8EAC50;
  color: #131b23;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-bottom: 28px;
}

h2.sun-title{
  font-family: space grotesk;
  font-size: 40px;
  margin: 0px 20px;
  color: #213363; 
}

p.sun-text{
  font-size: 22px;
  color: #17594A;
  margin: 5px 0px;
}

h2.planet-title {
  font-family: space grotesk;
  color: #213363;
  margin: 0px 20px;
}

h2.planet-title-special {
  font-family: space grotesk;
  color: #213363;
  margin: 0px 0px;
}

p.planet-text{
  font-size: 15px;
  color: #17594A;
  margin: 5px 0px;
}

img.planet-image-saturn {
  margin: 17px 0px;
}

img.planet-image-uranus {
  margin: 22px 0px;
}

img.planet-image-neptune {
  margin: 1px 0px;
}